@import "tailwindcss";

body {
  background: rgb(30, 30, 30);
}

*:not(span) {
  color: white !important;
}

/* globals.css */
.app-container {
  display: flex;
  height: 100vh;
  background: #0a0a0c;
  color: #fff;
}

.main-content {
  flex-grow: 1;
  padding: 32px;
  overflow-y: auto;
}
